<Options>

<Metadata> 

 <DropHeader> <![CDATA[ 
    <!-- Bootstrap 3 --> 
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
]]>
 </DropHeader>
 
 <DropFooter> <![CDATA[ 
    <!-- Bootstrap 3 --> 
	<script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script>(typeof($.fn.modal) !== 'undefined') || document.write('<script src="%PluginsPath%bootstrap/bootstrap-3.1.1.min.css"><\/script>')</script>
	<script>(typeof($.fn.modal) !== 'undefined') || document.write('<script src="%PluginsPath%bootstrap/bootstrap-3.1.1.min.js"><\/script>')</script>
    <script type="text/javascript" src="%PluginsPath%bootstrap/bootstrap-tooltip-handler.js"></script>
]]>
 </DropFooter>
 
</Metadata> 
 
</Options>